<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{listing.title}}</title>
    </head>
    <body>
        {%if not listing.closed  %}
            <a href="{% url 'index' %}">Home</a>
            <h1>{{listing.title}}</h1>
            <img src={{listing.image}} height="300px" width="200px">
            <p>Auction Time remaining: {{days}} Days {{hours}} hrs {{minutes}} mins {{seconds}} secs </p>
            {% if message %}
            <h3>{{message}}</h3>
            {% endif %}
            <form action="{% url 'auctionlist' listing.id %}" method="POST">
                {% csrf_token %}
                <strong>{{listing.bid}}</strong>
                <input type="number" name="current">
                <input type="submit" value="Place Bid">
                <br>
                <button name="addwatch" value=1>{{watchstatus}}</button>
            </form>
            <p>Description: {{listing.description}}</p>
            <p>Seller: <a href="#">{{listing.owner}}</a></p>
            {% if listing.owner.id == request.user.id %}
                <form action="{% url 'auctionlist' listing.id %}" method="POST">
                    {% csrf_token %}
                <button name="endlisting" value=1>End Listing</button>
                </form>
            {% endif %}
            <h3>Comments</h3>
            {% for comments in commentlist %}
                <hr>
                <p>{{ comments }} by {{ comments.usercommentlist }}</p>
            {% endfor %}
        <form action="{% url 'auctionlist' listing.id %}" method="POST">
            {% csrf_token %}
            <textarea name="comment" rows="5" cols="60" maxlength="255"></textarea>
            <input type="submit" value="Comment">
        </form>
        {% endif %}

        {% if listing.closed %}
        <a href="{% url 'index' %}">Home</a>            
        <h1>{{listing.title}}</h1>
        <img src={{listing.image}} height="300px" width="200px">
        <h2>Listing was ended</h2>
        <h3>Winner: {{listing.bid.currentuserbid}}</h3>
        {% endif %}
    </body>
</html>