{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {%for auctions in auctionlisting%}
        <a href="{% url 'auctionlist' auctions.id%}"><h5>{{auctions.title}}</h5></a>
        {% if auctions.image %} <!--cant use filter because doesn't have access to Models, Auctionlisting.objects-->
            <img src="{{auctions.image}}" height="250px" width="160px">
        {% endif %}
        <strong>{{auctions.bid}}</strong>
        <p>{{auctions.description}}</p>
    {% endfor %}
    TODO
{% endblock %}