<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{listing.title}}</title>
    </head>
    <body>
        <a href="{% url 'index' %}">Home</a>
        <h1>{{listing.title}}</h1>
        <img src={{listing.image}} height="300px" width="200px">
        <!--message-->
        <form action="{% url 'auctionlist' listing.id %}" method="POST">
            <strong>{{listing.bid}}</strong>
            <input type="number" name="current">
            <input type="submit" value="Place Bid">
        </form>
        <p>{{listing.description}}</p>
    </body>
</html>